<link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">

<div class="container">
	<div class="col-12">
		<h1 class="mypage"><%= user.name %>'s Page</h1>

		<div class="row">
			<div class="col-sm-3">
				<div><%= attachment_image_tag(user, :profile_image, :fill, 100, 100, fallback: "no_image.jpg")%>
				</div>
		    </div>
			<div class="col-sm-4">
				<div><strong><%= user.name %></strong></div>
		        <div><%= user.profile %></div>
		        <!-- フォロー数　follows にするとエラーが発生する　直す0724 -->
		        <div><strong><%= "フォロー　：#{user.followings.count}" %></strong></div>
		        <div><strong><%= "フォロワー：#{user.followers.count}" %></strong></div>
		        <div>
		        	<% if current_user != user %>
                		<% if user.followed_by?(current_user) %>
                        	<div><%= link_to "Unfollow", user_relationships_path(user.id), class: "btn btn-danger", method: :delete%></div>
             			<% else %>
                            <div><%= link_to "Follow", user_relationships_path(user.id), class: "btn btn-info", method: :post %></div>
             			<% end %>
　　　　　　  		<% end %>
		        </div>
		    </div>
		    <div class="col-sm-5">
		    	<ul class="nav nav-tabs">
		    		<li><%= link_to '投稿', user_path(user) %></li>
		    		<li><%= link_to 'お気に入り', favorite_user_path(user) %></li>
		    		<li class="active"><%= link_to 'フォロー', follows_user_path(user) %></li>
		    		<li><%= link_to 'フォロワー', followers_user_path(user) %></li>
		    		<% if current_user == user %>
		    		<li><%= link_to ' ',edit_user_path(user), class: "glyphicon glyphicon-cog" %></li>
		    		<% end %>
		    	</ul>
		    	<h5 class="leftcolor-blue">フォローしているユーザーを確認できます♪</h5><br />
		    </div>
		</div>
	</div>
</div>