<div class="container">
	<div class="col-12">
		<h1>Edit Page</h1>

		<div class="row">
			<%= form_for(@user) do |f| %>

		<!-- エラーメッセージ記載 -->
		<% if @user.errors.any? %>
			<h3><%= @user.errors.count %>error occurrence</h3>
			<ul>
				<% @user.errors.full_messages.each do |message| %>
				<li><%= message %></li>
				<% end %>
			</ul>
		<% end %>
		<!-- エラーメッセージ記載 -->

			<div class="col-sm-4">
				<div>
					<%= f.label :image %>
					<%= f.attachment_field :profile_image, class: "user_image" %>
				</div>
				<div>
					<%= f.label :name %>
					<%= f.text_field :name, class: "name" %>
				</div>
			</div>

			<div class="col-sm-8">
				<div>
					<%= f.label :自己紹介 %>
					<%= f.text_area :profile, class: "profile" %>
				</div>
				<div>
					<%= f.label :拠点の都道府県 %>
					<%= f.select :birthplace, User.birthplaces.keys, {prompt: '選択してください'}, class: 'signup_input signup_input--prefecture error-form--prefecture' %>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="actions text-right">
				<%= f.submit "Update", class: "btn btn-primary" %>
			</div>
		</div>

		<% end %>
	</div>
</div>