<link href="https://fonts.googleapis.com/css2?family=Kosugi+Maru&display=swap" rel="stylesheet">

	<h3>Edit My Page</h3>

		<%= form_for(@user) do |f| %>

		<!-- エラーメッセージ記載 -->
				<% if @user.errors.any? %>
					<h3><font color="red"><%= @user.errors.count %>error occurrence</font></h3>
					<ul><font color="red">
						<% @user.errors.full_messages.each do |message| %>
						<li><%= message %></li>
						<% end %>
					</font></ul>
				<% end %>
		<!-- エラーメッセージ記載 -->

		<div class="item">
			<%= f.label :name %>
			<%= f.text_field :name, class: "name" %>
		</div>

		<div class="item">
			<%= f.label :拠点の都道府県 %>
			<%= f.select :birthplace, User.birthplaces.keys, {prompt: '選択してください'}, class: 'signup_input signup_input--prefecture error-form--prefecture' %>
		</div>

		<div class="item">
			<%= f.label :自己紹介 %>
			<%= f.text_area :profile, class: "profile" %>
		</div>

		<div class="item">
			<%= f.label :image %>
			<%= f.attachment_field :profile_image, class: "user_image" %>
		</div>

		<div class="btn-area">
			<%= f.submit "Update", class: "btn btn-primary" %>
		</div>
		<% end %>


	</form>
	<div id="inner"></div>