<%= render 'users/favorite', user: @user %>

<table>
	<tr>
		<th></th>
		<th>旅行先</th>
		<th>出発地点</th>
		<th></th>
	</tr>
	<tr>
		<% @user.like_posts.each do |post| %>
			<td>
				<%= attachment_image_tag(post.user, :profile_image, :fill, 50, 50, fallback: "no-image-mini.jpg") %>
				<%= link_to post.user.name, post.user %>
			</td>
			<td class="mini"><%= post.travel_spot %></td>
			<td class="mini"><% if post.point_a && post.point_b? %>
													<%= post.point_a %>と<%= post.point_b %>
												<% elsif  post.point_a? %>
													<%= post.point_a %>
												<% else %>
													<P>----</P>
												<% end %>
			</td>
			<td>
				<%= link_to ' check',post_path(post), class: "btn btn-default btn-sm glyphicon glyphicon-eye-open" %>
				<!-- like -->
				<% if post.liked_by?(current_user) %>
					<%= link_to post_like_path(post), method: :delete do %>
						<i class="glyphicon glyphicon-heart red" aria-hidden="true" style="font-size:15px;" ></i>
					<%= post.likes.count %>
					<% end %>
				<% else %>
				    <%= link_to post_like_path(post), method: :post do %>
				    	<i class="glyphicon glyphicon-heart-empty red" aria-hidden="true" style="font-size:15px;" ></i>
				    <%= post.likes.count %>
				    <% end %>
				<% end %>
				    <!-- like -->
			</td>
	</tr>
	<% end %>
</table>

<div id="inner"></div>