<div class="container">
	<div class="col-12">
	<%= render 'users/info', user: @user %>

	<h2>投稿一覧</h2>
	<p>favorite comment 機能実装</p>
 		<table>
 			<% @posts.each do |post| %>
			<tr>
				<th class="post"></th>
				<th class="post">旅行先</th>
				<th class="post">２拠点</th>
				<th class="post">費用</th>
				<th class="post">説明</th>
			</tr>
			<tr>
				<td>
					<%= link_to ' check',post_path(post), class: "btn btn-default btn-sm glyphicon glyphicon-eye-open" %>
				</td>
				<td><%= post.travel_spot %></td>
				<td><%= post.point_a %>と<%= post.point_b %></td>
				<td><%= post.cost %></td>
				<td><%= post.explanation %></td>
			</tr>
			<% end %>
		</table>
	</div>
</div>
