<link href="https://fonts.googleapis.com/css2?family=Anton&display=swap" rel="stylesheet">

<div class="container">
	<h3>Post List</h3>
	<div class="col-12">
		<div class="col-sm-4">
			<table>
				<h5>タグ付検索</h5>
				<tr>
					<td>
						<% @regions.each do |tag| %>
			  			<%= link_to tag, posts_path(tag_name: tag), class: "btn btn--orange btn--radius" %>
						<% end %>
					</td>
				</tr>
			</table>
			<div class="blank"></div>
			<table>
				<h5>Random Post</h5>
				<tr>
						<% @posts.shuffle.first(3).each do |post| %>
							<td><%= attachment_image_tag(post.user, :profile_image, :fill, 50, 50, fallback: "no-image-mini.jpg") %>
								<%= link_to post.user.name, post.user %>
							</td>
							<td class="mini"><%= post.travel_spot %></td>
							<td class="explan"><%= truncate(post.explanation, length: 10) %></td>
				</tr>
						<% end %>
			</table>
		</div>
		<div class="col-sm-8">
			<table>
			<tr>
				<th></th>
				<th>旅行先</th>
				<th>出発地点</th>
				<th>費用</th>
				<th>説明</th>
				<th></th>
			</tr>
			<tr>
				<% @posts.each do |post| %>
				<td><%= attachment_image_tag(post.user, :profile_image, :fill, 50, 50, fallback: "no-image-mini.jpg") %>
					<%= link_to post.user.name, post.user %>
				</td>
				<td class="mini"><%= post.travel_spot %></td>
				<td class="mini"><% if post.point_a && post.point_b? %>
									<%= post.point_a %>と<%= post.point_b %>
								<% elsif  post.point_a? %>
									<%= post.point_a %>
								<% else %>
									<P>----</P>
								<% end %>
				</td>
				<td class="mini"><%= post.cost %>円</td>
				<td class="explan"><%= truncate(post.explanation) %></td>
				<td>
					<%= link_to ' check',post_path(post), class: "btn btn-default btn-sm glyphicon glyphicon-eye-open" %>
				</td>
			</tr>
			<% end %>
		</table>
		</div>
	</div>
</div>