<link href="https://fonts.googleapis.com/css2?family=Kosugi+Maru&display=swap" rel="stylesheet">

<div class="container">
	<div class="col-12">

		<h1 class="hello">投稿一覧</h1>

		<div class="col-sm-3">
			<table>
				<tr>
					<th>タグ付け検索</th>
				</tr>
				<tr>
					<td>
						<% @regions.each do |tag| %>
						<!-- <%#= posts_path(tag_name: tag) %> -->
			  			<%= link_to tag, posts_path(tag_name: tag), class: "text-white btn-sticky" %>
						<% end %>
					</td>
				</tr>
			</table>
		</div>
		<div class="col-sm-9">
			<table>
			<tr>
				<th></th>
				<th>旅行先</th>
				<th>出発地点</th>
				<th>費用</th>
				<th>説明</th>
				<th></th>
			</tr>
			<tr>
				<% @posts.each do |post| %>
				<td><%= attachment_image_tag(post.user, :profile_image, :fill, 50, 50, fallback: "no-image-mini.jpg") %>
					<%= link_to post.user.name, post.user %>
				</td>
				<td class="mini"><%= post.travel_spot %></td>
				<td class="mini"><% if post.point_a && post.point_b? %>
									<%= post.point_a %>と<%= post.point_b %>
								<% elsif  post.point_a? %>
									<%= post.point_a %>
								<% else %>
									<P>----</P>
								<% end %>
				</td>
				<td class="mini"><%= post.cost %>円</td>
				<td class="explan"><%= truncate(post.explanation) %></td>
				<td>
					<%= link_to ' check',post_path(post), class: "btn btn-default btn-sm glyphicon glyphicon-eye-open" %>
					<!-- like -->
				<% if post.liked_by?(current_user) %>
					<%= link_to post_like_path(post), method: :delete do %>
						<i class="glyphicon glyphicon-heart red" aria-hidden="true" style="font-size:15px;" ></i>
					<%= post.likes.count %>
					<% end %>
				<% else %>
				    <%= link_to post_like_path(post), method: :post do %>
				    	<i class="glyphicon glyphicon-heart-empty red" aria-hidden="true" style="font-size:15px;" ></i>
				    <%= post.likes.count %>
				    <% end %>
				<% end %>
				    <!-- like -->
				</td>
			</tr>
			<% end %>
		</table>
		</div>
		<div class='p-top__paginate'>
			<%= paginate @posts %>
		</div>
	</div>
</div>